@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');



section{
    background-image: url(/images/backround/pexels-photo-1308624.jpeg);
    opacity: .9;
}
.address{
 color: white;


}

.phone{
    color: white;
}
.email{
    color:white;
}

#contact{
    color:white;
    font-family:'shadows Into Light', cursive;
}
li{
    color:white;
}
.social{
  text-align: center
}
.card{
     margin:3%;
}