@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');


body{
    background-color: rgb(168, 129, 129);
}


.title{
    margin-top:5%;
    font-family: 'Shadows Into Light',cursive;
    text-align: center;
}



